{
  "Production": {
    "environment": "Production",
    "project": {
      "name": "mfit_production"
    },
    "repositories": {
      "PostgreSQL": {
        "connection_string": ""
      }
    }
  },
  "Staging": {
    "environment": "Staging",
    "project": {
      "name": "mfit_staging"
    },
    "repositories": {
      "PostgreSQL": {
        "connection_string": ""
      }
    }
  },
  "Testing": {
    "environment": "Testing",
    "project": {
      "name": "mfit_testing"
    },
    "repositories": {
      "PostgreSQL": {
        "connection_string": ""
      }
    }
  },
  "Development": {
    "environment": "Development",
    "project": {
      "name": "mfit_development"
    },
    "repositories": {
      "PostgreSQL": {
        "connection_string": ""
      }
    }
  }
}
