{
  "Production": {
    "repositories": {
      "PostgreSQL": {
        "connection_string": ""
      }
    }
  },
  "Staging": {
    "repositories": {
      "PostgreSQL": {
        "connection_string": ""
      }
    }
  },
  "Testing": {
    "repositories": {
      "PostgreSQL": {
        "connection_string": ""
      }
    }
  },
  "Development": {
    "repositories": {
      "PostgreSQL": {
        "connection_string": "postgresql+psycopg2://mfit_development_administrator:foo@localhost:5432/mfit_development_1"
      }
    }
  }
}
