{
  "Production": {
    "environment": "Production",
    "project": {
      "name": "mfit_service"
    },
    "repositories": {
      "PostgreSQL": {
        "connection_string": ""
      }
    }
  },
  "Development": {
    "environment": "Development",
    "project": {
      "name": "mfit_service_development"
    },
    "repositories": {
      "PostgreSQL": {
        "connection_string": ""
      }
    }
  }
}
