{
  "redis": {
    "hostname": "",
    "port":
  },
  "logging": {
    "version": 1,
    "loggers": {
      "mfit": {
        "level": "DEBUG",
        "handlers": ["stream"]
      }
    },
    "formatters": {
      "simple": {
        "format": "%(asctime)s.%(msecs)03d [%(levelname)s] %(message)s",
        "datefmt": "%Y-%m-%d %H:%M:%S"
      }
    },
    "handlers": {
      "stream": {
        "class": "logging.StreamHandler",
        "level": "DEBUG",
        "formatter": "simple"
      }
    }
  }
}
